.exercises-container {
    width: 90%;
}

.exercises-category {
    padding-top: 1.5rem;
}

.exercises-category-heading {
    padding: 0.25rem;
    font-weight: bold;
    color: var(--ion-color-primary-shade);
    font-size: 1rem;
    text-align: left;
}

.exercises {
    padding: 0.5rem;
    border-right: 5px solid var(--ion-color-light-shade);
    border-left: 5px solid var(--ion-color-light-shade);
    border-radius: 10px;
    background-color: #f7f7f7ee;
}

.exercises-info {
    display: flex;
    justify-content: space-between;
}

.exercises-title {
    text-align: start;
}

.exercises-data {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    width: 50%;
    color: grey;
}

ion-item-divider {
    padding: 0;
}